{% extends "layout.html" %}
{% block body %}
    <div class="page-header">
        <div class="container">
       <h1>About bgeo</h1>
       <p class="lead">This mapping application is intedended as a tool to add a bit of geographic understadning to the narratives of the Bible. This is a simple study aid and is <em>not</em> <em>inspired</em>. More details on the data sources is provided below, but nothing here is doctrine. Only the inspired word of God should be used to determine doctrine and dogma. If anything here contradicts with the Bible please let me know!</p>
    </div>
    <div class="container-fluid theme-showcase" role="main">
    <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <h2>Data</h2>
          <p>The data used for locating places is sourced from <a href="http://www.openbible.info/geo">www.openbible.info/geo</a>. The sources given there are as follows:
            <ul>
                <li><a href="http://stempublishing.com/dictionary/">Morrish Bible Dictionary</a></li>
                <li>ISBE</li>
                <li>Eaton's</li>
                <li>Smith's</li>
                <li>Nave's</li>
                <li>Additional Copyrighted Works</li>
            </ul>
          </p>
        </div>
      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
  {% endblock %}
